
body{
    background-color: white;
    color: #753C19;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

header{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3B0201;
    border: 6px #3B0201 solid;
    border-radius: 5px;
    padding: 12px;
    margin: 1%;
}

.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1370px;
    padding: 12px 12px 12px 12px;
    margin: 1%;
}

.main{
    border: 6px #753C19 solid;
    border-radius: 5px;
    padding: 0 0px 30px 0px;
    margin: 3%;
    text-align: center;
    


}


.el:nth-child(1){
    width: auto;
    background-color: #82AC9F;
    border: 6px #70AE6E solid;
    border-radius: 5px;
    padding: 1px 0.5px 2px 1.5px;
}

.el:nth-child(3){
    width: auto;
}

.el:nth-child(2){
    width: auto;
}


section{
    background-color: #FFEBB7;
    margin: 20px;
    
}


section h3{
    background-color: #E3BF75;
    padding: 5px;
    margin : 0px;
    align-content: center;
    text-align: center;
}

section h2{
    background-color: #E3BF75;
    padding: 5px;
    margin : 0px;
    align-content: center;
    text-align: center;
}


section section{
    border: 6px #B87832 solid;
    border-radius: 5px;
    padding: 0px 0px 30px 0px;
    margin: 20px 20px 20px 20px;
    text-align: center;
}

footer {
    border: 6px #B87832 solid;
    border-radius: 5px;
    padding: 0 0px 0px 0px;
    margin: 3%;
    text-align: center;
}


footer h2{
    background-color: #E3BF75;
    
    padding: 5px 10px 20px 5px;
    margin : 0px;
    align-content: center;
    text-align: center;
}

footer h3{
    background-color: #B87832;
    
    padding: 5px;
    margin : 0px;
    align-content: center;
    text-align: center;
}











