
body{
    background-color: #DAD5DA;
}

header{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px black groove;
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
}

.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1370px;
   
    padding: 1%;
    margin: 1%;
}

.el:nth-child(1){
    width: auto;
    background-color: #82AC9F;
    border-radius: 5px;
    padding: 1px 0.5px 2px 1.5px;
}

.el:nth-child(3){
    width: auto;
}

.el:nth-child(2){
    width: auto;
}

h2,h3{
    align-content: center;
    text-align: center;
}

section{
    border: 3px black groove;
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
    text-align: center;
}





